* {
  font-family: Verdana, Arial, sans-serif;
}

body {
  background-color: lightskyblue;
}

h1 {
  color: purple;
  padding-left: 1rem;
}

ul {
  font-size: 1.2em;
  list-style: none;
  padding-left: 1rem;
}

li {
  padding-bottom: 0.2em;
}